
<div class="container">
  CREATE TASK

  <div>
    <form (ngSubmit)="submit()" name="createForm" class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2" for="task">Task</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="task" placeholder="Enter Task" name="title" [(ngModel)]="userTask.title" #title="ngModel" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="description">Description</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="description" name = "description" placeholder="Enter Description" [(ngModel)]="userTask.description" #description="ngModel" required>
        </div>
      </div>
      <div class="form-group"> <!-- Date input -->
        <label class="control-label col-sm-2" for="date">Date</label>
        <div class="col-sm-10">
          <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text" [(ngModel)]="userTask.date" required/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="description">Priority</label>
        <div class="col-sm-10">
          <select class="form-control" id="priority" name="priority" [(ngModel)]="userTask.priority" #priority="ngModel" required>
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <!--<button type="submit" class="btn btn-default" (click)="done">Done</button>-->
          <td><button type="submit" class="btn btn-default" >Submit</button></td>
        </div>
      </div>
    </form>
  </div>
</div>

